[submodule "arm64.cross.greenfield/3dparty/cxxopts"]
	path = arm64.cross.starter/3dparty/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "arm64.cross.greenfield/3dparty/fmt"]
	path = arm64.cross.starter/3dparty/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "amgcl.starter/3dparty/amgcl"]
	path = amgcl.starter/3dparty/amgcl
	url = https://github.com/ddemidov/amgcl.git
[submodule "amgcl.starter/3dparty/vexcl"]
	path = amgcl.starter/3dparty/vexcl
	url = https://github.com/ddemidov/vexcl.git
[submodule "sunrise/3dparty/sunset"]
	path = sunrise/3dparty/sunset
	url = https://github.com/buelowp/sunset
